@addTagHelper *, Kentico.Content.Web.Mvc

@model Kentico.Content.Web.Mvc.Routing.IPageViewModel<CMS.DocumentEngine.Types.NerdLab.ProductSection>

@{
    ViewBag.Title = Model.Page.DocumentName;
}

@section styles
{
    @* Includes CSS necessary for page builder functionality *@
    <page-builder-styles/>
    <link rel="stylesheet" href="~/css/home_item.css">
}

@section scripts
{
    @* Includes scripts necessary for page builder functionality *@
    <page-builder-scripts/>
}

<div class="product-container">
    @await Component.InvokeAsync("HomeItem")
</div>